<div class="container"> 
    <h3>Reactive Form</h3>
     
    <form [formGroup]="contactform" (submit)="onSubmit()">
      <p>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstname" formControlName="firstName">
        <span *ngIf="!firstName?.valid && (firstName?.touched || firstName?.dirty)">
          <span class="text-danger" *ngIf="firstName?.errors?.['required']">
            First name is required
          </span>
           <span class="text-danger" *ngIf="firstName?.errors?.['minlength']">
            Min length is 5 characters
          </span></span>
      </p>
      
      
      <p>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName">
        <span *ngIf="!lastName?.valid && (lastName?.touched || lastName?.dirty)">
          <span class="text-danger" *ngIf="lastName?.errors?.['required']">
            Last name is required
          </span>
           <span class="text-danger" *ngIf="lastName?.errors?.['maxlength']">
            Minimum length is 15 characters
          </span>
          <span class="text-danger" *ngIf="lastName?.errors?.['pattern']">
             Only characters are allowed
          </span></span>
        </p>
      
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <span *ngIf="!email?.valid && (email?.touched || email?.dirty)">
          <span class= "text-danger" *ngIf="email?.errors?.['required']">
            E-mail ID is required
          </span></span>
        <br><br>
      
        <!-- Gender Radio Buttons -->
        <label>Gender:</label>
        <label>
          <input type="radio" value="male" formControlName="gender"> Male
        </label>
        <label>
          <input type="radio" value="female" formControlName="gender"> Female
        </label>
        <br><br>
      
        <!-- Country Dropdown List -->
        <label for="country">Country:</label>
        <select id="country" formControlName="country">
          <option value="usa">USA</option>
          <option value="canada">Canada</option>
          <option value="uk">UK</option>
          <option value="uk">India</option></select>
          <span *ngIf="!country?.valid && (country?.touched || country?.dirty)">
          <span class="text-danger" *ngIf="country?.errors?.['required']">
            Country is required
          </span></span>
        <br><br>
    
        <div formGroupName="address">
        <div class="form-group">
        <label for="city">City:</label>
        <input type="text" id="city" formControlName="city">
        <span *ngIf="!city?.valid && (city?.touched || city?.dirty)">
          <span class= "text-danger" *ngIf="city?.errors?.['required']">
          City is required
          </span></span>
        </div>

        <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" id="street" formControlName="street">
        <span *ngIf="!street?.valid && (street?.touched || street?.dirty)">
          <span class= "text-danger" *ngIf="street?.errors?.['required']">
            Street is required
          </span></span>
        </div>

        <div class="form-group">
        <label for="pincode">Pincode:</label>
        <input type="text" id="pincode" formControlName="pincode">
        <span *ngIf="!pincode?.valid && (pincode?.touched || pincode?.dirty)">
          <span class= "text-danger" *ngIf="pincode?.errors?.['required']">
            Pincode is required
          </span></span>
        </div>
    
        </div>
        <button type="submit"[disabled]='contactform.valid==false'>Submit</button>
      </form>
      </div>
      